

<h3>All Categories</h3>
<%= link_to "New Category", new_category_path %>
<ul>
  <% @categories.each do |category| %></ul>
    <li> <%= link_to category.title, category_path(category) %> <%= link_to "Edit", edit_category_path(category) %> <%= link_to "Delete", category_path(category), method: "delete" %>  </li>
    <% end %>
<ul>
